@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-euclid-circular-a);
  --color-primary: #105b48;
  --color-icon-active: #176D5826;
  --color-nav-icon: #176D58;
  --color-border: #E4E4E4;
  --color-deep-gray: #3D3D3D;
  --color-primary-dark: #0d4a3a;
  --color-primary-light: #1a7a5f;
  --color-accent: #4545FE;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-euclid-circular-a), sans-serif;
}

/* Hide scrollbar for horizontal scroll */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
